* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
}

.logo img {
  width: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
  color: #333;
}

.login {
  color: #1d4ed8;
  font-weight: 600;
}

.register-btn {
  background: #1d4ed8;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* ===== HERO ===== */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
 background: linear-gradient(135deg, #6b0000, #03002b);
}

.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 56px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.explore-btn {
  background: #1d4ed8;
  color: #fff;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.vendor-btn {
  background: #16a34a;
  color: #fff;
  border: none;
  padding: 14px 24px;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

.hero-image img {
  width: 520px;
  border-radius: 20px;
}
